<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
      </br>
        <form action="/auth/login" method="post">
          <div class="box">
            <label>Username:</label>
            <input type="text" name="username" class="form-control" />
          </div>
          </br>
          <div class="box">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" />
          </div>
          </br>
          <div class="box">
            <input type="submit" value="Log In" class="btn btn-default"/>
          </div>
        </form>
        </br>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
