<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <form action="/auth/register" method="post">
          <div class="box">
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
          <div class="box">
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div class="box">
            <label>First Name:</label>
            <input type="text" name="firstName"/>
          </div>
          <div class="box">
            <label>Last Name:</label>
            <input type="text" name="lastName"/>
          </div>
          <div class="box">
            <label>Email:</label>
            <input type="text" name="email"/>
          </div>
          <div class="box">
            <input type="submit" value="Register" class="btn btn-default" />
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
