<p>
Disclaimer: this chat-app is not encrypted. Therefore do not use it to discuss illegal activities or any other important things to hide.
</p>
</br>
<footer>
  <div class="container">
    <p>
      Created by Jennifer Kaplan
    </p>
  </div>
</footer>
