<p>
Disclaimer: this chat-app is not encrypted. Therefore do not use it to discuss anything important to hide, including, but not limited to illegal activities.
</p>
</br>
<footer>
  <div class="container">
  </br>
    <p>
      Created by Jennifer Kaplan
    </p>
  </br>
  </div>
</footer>
