<!DOCTYPE html>
<html lang="en">
<% include ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    </br>
    <button type="button" class="btn btn-default">
      <a href="/auth/register">Register</a>
    </button>
    </br>
    </br>
    <button type="button" class="btn btn-default">
      <a href="/auth/login">Login</a>
    </button>
    </br>
    <% include ./partials/footer.ejs %>
  </body>
</html>

