<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <% messages.forEach(function(message) { %>
        <div class="container">
          <span><%= message.username %>: <%= message.message %></span>
          <form action="<%= '/messages/' + message.id + '?_method=DELETE' %>" method="POST">
            <input type="submit" value="X" />
          </form>
        </div>
      <% }) %>
    <form action="/messages" method="POST" class="form-inline">
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" name="message" placeholder="Type Your Message Here">
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>
    </main>
    <% include ../partials/footer.ejs %>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
