<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
    <div class="container">
      </br>
      <form action="/messages" method="POST" class="form-inline">
        <div class="form-group">
          <input id="m" type="text" class="form-control" name="message" placeholder="Your Message" />
          <button type="submit" class="btn btn-default">Send</button>
        </div>
      </form>
      <ul id="messages">
      <% messages.forEach(function(message) { %>
      <li>
        <%= message.username %>: <%= message.message %>
        <form action="<%= '/messages/' + message.id + '?_method=DELETE' %>" method="POST">
            <input type="submit" class="btn btn-danger" value="X" />
          </form>
      </li>
      </br>
      <% }) %>
      </ul>
    </div>
    </main>
    <% include ../partials/footer.ejs %>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    </script>
    <script>
      var socket = io.connect( "http://localhost:8080");
    </script>
  </body>
</html>
