body {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*align-items: stretch;*/
  align-content: stretch;
}

header {
  background-color: teal;
  color: white;
}

header .container h1 {
  font-size: 36px;
}

main{
  flex: 1 0 auto;
}

footer {
  background-color: teal;
  color: white;
}

a {
  color: #00B7FF;
}

.vortxt {
  /*font-family: 'Press Start 2P', cursive;*/
  /*font-family: 'Nosifer', cursive;*/
  font-family: 'Bangers', cursive;
  /*font-family: 'Audiowide', cursive;*/
}
